/* From Uiverse.io by KshitijAdhikaree */ 
/* The switch - the box around the slider */
.switch-container {
  position: absolute;
  top: 10px;
  right: 20px;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

/* Hide default HTML checkbox */
.switch-container input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.switch-container .slider {
  --background: linear-gradient(to right, #090613ef, #18151f);
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--background);
  transition: background-color 0.5s;
  border-radius: 30px;
}

.switch-container .slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 50%;
  left: 10%;
  bottom: 15%;
  box-shadow: inset 15px -4px 0px 15px #f8ea27;
  background: var(--background);
  transition: transform 0.5s, box-shadow 0.5s;
}

.switch-container input:checked + .slider {
  background-color: #000;
}

.switch-container input:checked + .slider:before {
  transform: translateX(100%);
  box-shadow: inset 8px -4px 0px 0px #f8f8f4;
}

/* Additional styles for the page */
.main-container {
  padding: 20px;
}

.categorias-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.categoria-item {
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.3s ease;
}

.categoria-item:first-child {
  grid-column: 1 / -1;
  height: 150px;
}

.categoria-item:last-child {
  grid-column: 1 / -1;
  height: 150px;
}

.categoria-item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}

.categoria-imagen {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: transform 0.5s ease;
}

.categoria-item:first-child .categoria-imagen,
.categoria-item:last-child .categoria-imagen {
  object-fit: cover;
}

.categoria-item:hover .categoria-imagen {
  transform: scale(1.1);
}

.categoria-nombre-wrapper {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  padding: 5px 10px;
  color: #ffffff;
}

.categoria-nombre {
  font-size: 16px;
  font-weight: bold;
}

.logo-container {
  text-align: center;
  margin-bottom: 60px;
}

.logo-title {
  font-size: 0.9em;
  font-weight: bold;
}

.logo-subtitle {
  font-size: 0.6em;
  margin-top: -5px;
}

.logo-caption {
  font-size: 0.3em;
  margin-top: -3px;
}

.categorias-titulo {
  color: var(--text-color);
  text-align: left;
  margin-left: 20px;
  font-size: 1.5em;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .main-container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .categorias-container {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }

  .categoria-item {
    min-height: 200px;
  }

  .categoria-item:first-child,
  .categoria-item:last-child {
    grid-column: span 3;
    height: 250px;
  }

  .categoria-imagen {
    border-radius: 10px 10px 0 0;
  }

  .categoria-nombre-wrapper {
    bottom: 20px;
    left: 20px;
    padding: 10px 20px;
  }

  .categoria-nombre {
    font-size: 20px;
  }
}

/* Light and Dark Theme */
:root[data-theme='light'] {
  --background-color: #ffffff;
  --text-color: #000000;
}

:root[data-theme='dark'] {
  --background-color: #181818;
  --text-color: #f8f8f2;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.5s, color 0.5s;
}
