/* Ajustes del contenedor principal */
.main-container {
  padding: 20px;
  position: relative;
}

.categorias-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.categoria-item {
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.3s ease;
}

.categoria-item:first-child {
  grid-column: 1 / -1;
  height: 150px;
}

.categoria-item:last-child {
  grid-column: 1 / -1;
  height: 150px;
}

.categoria-item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}

.categoria-imagen {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: transform 0.5s ease;
}

.categoria-item:first-child .categoria-imagen,
.categoria-item:last-child .categoria-imagen {
  object-fit: cover;
}

.categoria-item:hover .categoria-imagen {
  transform: scale(1.1);
}

.categoria-nombre-wrapper {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.7); /* Más oscuro para mejor contraste */
  border-radius: 5px;
  padding: 5px 10px;
}

.categoria-nombre {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
}

/* Ajustes para el contenedor del logo */
.logo-container {
  text-align: center;
  margin-bottom: 60px;
}

.logo-title {
  font-size: 0.9em;
  font-weight: bold;
}

.logo-subtitle {
  font-size: 0.6em;
  margin-top: -5px;
}

.logo-caption {
  font-size: 0.3em;
  margin-top: -3px;
}

/* Ajustes para el título de categorías */
.categorias-titulo {
  color: #000000;
  text-align: left;
  margin-left: 20px;
  font-size: 1.5em;
  margin-bottom: 10px;
  display: inline-block;
}

/* Ajustes del botón de modo oscuro */
.switch {
  font-size: 17px;
  position: absolute;
  top: 10px;
  right: 10px;
  display: inline-block;
  width: 64px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #73C0FC;
  transition: .4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  border-radius: 20px;
  left: 2px;
  bottom: 2px;
  z-index: 2;
  background-color: #e8e8e8;
  transition: .4s;
}

.sun svg {
  position: absolute;
  top: 6px;
  left: 6px; /* Ajuste la posición del sol */
  z-index: 1;
  width: 24px;
  height: 24px;
}

.moon svg {
  fill: #73C0FC;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;
  width: 24px;
  height: 24px;
}

.switch:hover .sun svg {
  animation: rotate 15s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.switch:hover .moon svg {
  animation: tilt 5s linear infinite;
}

@keyframes tilt {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.input:checked + .slider {
  background-color: #183153;
}

.input:focus + .slider {
  box-shadow: 0 0 1px #183153;
}

.input:checked + .slider:before {
  transform: translateX(30px);
}

/* Media query para ajustar el tamaño del botón en dispositivos móviles */
@media (max-width: 768px) {
  .switch {
    font-size: 14px;
    width: 50px;
    height: 26px;
  }

  .slider:before {
    height: 22px;
    width: 22px;
  }

  .sun svg,
  .moon svg {
    width: 18px;
    height: 18px;
  }
}

/* Estilos para el modo oscuro */
body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

body.dark-mode .main-container {
  background-color: #121212;
}

body.dark-mode .categoria-item {
  background-color: #1e1e1e;
  color: #ffffff;
}

body.dark-mode .categorias-titulo {
  color: #ffffff;
}

body.dark-mode .categoria-nombre-wrapper {
  background-color: rgba(255, 255, 255, 0.1);
}

body.dark-mode .categoria-nombre {
  color: #ffffff;
}

body.dark-mode .logo-title,
body.dark-mode .logo-subtitle,
body.dark-mode .logo-caption {
  color: #ffffff;
}
