/* src/ComidaList.css */
@import url('https://fonts.googleapis.com/css2?family=Helvetica+Neue:wght@400;700&display=swap');

.comidas-container {
  padding: 20px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px; /* Espacio menor para ajustarse con el botón de volver */
}

.plato-titulo {
  color: var(--text-color);
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.back-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px; /* Para ajustar la posición del botón */
  padding: 0.5rem;
  font-size: 1.5rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  color: var(--back-button-color);
  background: none;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
  text-align: center;
  border: none;
}

.back-button:hover {
  color: var(--hover-color);
}

.back-button:active {
  transform: translateY(0.2rem);
}

@media (max-width: 600px) {
  .back-button {
    width: 2.5rem; /* Ajusta el ancho del botón en pantallas pequeñas */
    height: 2.5rem;
    font-size: 1.2rem;
  }
}

.comidas-lista {
  display: grid;
  grid-template-columns: 1fr; /* 1 columna */
  grid-gap: 20px;
  transition: margin-top 0.3s ease;
}

.comidas-lista.with-filter-menu {
  margin-top: 200px; /* Ajusta según sea necesario */
}

.logo-container {
  text-align: center; /* Centramos el contenido del logo */
  margin-bottom: 60px; /* Espacio inferior para separarlo del resto del contenido */
  font-size: 2.5em;
  font-weight: bold; /* Negrita */
}

.logo-title {
  font-size: 0.9em; /* Tamaño más pequeño para la palabra 'ísola' */
}

.logo-subtitle {
  font-size: 0.6em; /* Tamaño más pequeño para el subtítulo '-RISTORANTE-' */
  margin-top: -15px; /* Margen negativo para acercar el subtítulo al título principal */
}

.logo-caption {
  font-size: 0.3em; /* Tamaño más pequeño para el caption 'by Pastelería Carabobo' */
  margin-top: -3px; /* Margen negativo para acercar el caption al subtítulo */
}

.controls-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}

.search-icon, .filter-icon {
  cursor: pointer;
  font-size: 1.5em;
  color: lightcoral;
  margin-left: 20px; /* Espacio a la izquierda */
}

.input {
  background-color: #eee;
  border: none;
  padding: 1rem;
  font-size: 1rem;
  width: 0;
  border-radius: 1rem;
  color: lightcoral;
  box-shadow: 0 0.4rem #dfd9d9;
  cursor: pointer;
  transition: width 0.3s ease-in-out;
  margin-left: 10px; /* Espacio a la izquierda del icono */
}

.controls-container .input {
  width: 13em;
}

.input:focus {
  outline-color: lightcoral;
  width: 15em; /* Aumenta el ancho al enfocar */
}

@media (max-width: 600px) {
  .controls-container .input {
    width: calc(100% - 40px); /* Ancho completo menos el espacio para los iconos */
    margin-left: 10px;
  }
}

@media (min-width: 601px) {
  .comidas-container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .controls-container {
    justify-content: center; /* Centra los controles en pantallas grandes */
  }

  .comidas-lista {
    grid-template-columns: repeat(3, 1fr); /* 3 columnas para pantallas grandes */
    grid-gap: 20px;
  }

  .comidas-lista.with-filter-menu {
    margin-top: 220px; /* Ajusta según sea necesario para pantallas grandes */
  }

  .filter-menu {
    width: auto; /* Asegura que el menú de filtros tenga un ancho adecuado en pantallas grandes */
    left: 50%;
    transform: translateX(-50%); /* Centra el menú de filtros */
  }
}

.scale-up-horizontal-center {
  animation: scale-up-horizontal-center 0.4s;
}

@keyframes scale-up-horizontal-center {
  0% {
    transform: scaleX(0.2);
  }
  100% {
    transform: scaleX(1);
  }
}

.scale-down-horizontal-center {
  animation: scale-down-horizontal-center 0.4s;
}

@keyframes scale-down-horizontal-center {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0.3);
  }
}

.filter-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--menu-bg-color, #fff);
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  box-shadow: 0 0.4rem rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  animation: slide-down 0.3s ease-in-out;
  color: var(--menu-text-color, #000);
}

.filter-menu .filter-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.filter-menu .filter-title {
  margin-right: 10px;
  font-weight: bold;
}

.filter-menu button {
  background-color: var(--button-bg-color, #eee);
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 1rem;
  color: var(--button-text-color, lightcoral);
  box-shadow: 0 0.4rem #dfd9d9;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin-left: 10px;
}

.filter-menu button.active {
  background: lightcoral;
  color: white;
}

.filter-menu button:active {
  color: white;
  box-shadow: 0 0.2rem #dfd9d9;
  transform: translateY(0.2rem);
}

.filter-menu button:hover:not(.active) {
  background: lightcoral;
  color: white;
  text-shadow: 0 0.1rem #bcb4b4;
}

.filter-menu button:disabled {
  cursor: auto;
  color: grey;
}

.reset-icon {
  cursor: pointer;
  font-size: 1.5em;
  color: lightcoral;
  margin-left: auto; /* Mueve el icono a la derecha */
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(0%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Light and Dark Theme */
:root[data-theme='light'] {
  --background-color: #ffffff;
  --text-color: #000000;
  --menu-bg-color: #fff;
  --menu-text-color: #000;
  --button-bg-color: #eee;
  --button-text-color: lightcoral;
  --back-button-color: #000;
  --hover-color: #666;
}

:root[data-theme='dark'] {
  --background-color: #000000;
  --text-color: #f8f8f2;
  --menu-bg-color: #333;
  --menu-text-color: #f8f8f2;
  --button-bg-color: #444;
  --button-text-color: #eee;
  --back-button-color: #fff;
  --hover-color: #bbb;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.5s, color 0.5s;
}
