@import url('https://fonts.googleapis.com/css2?family=Helvetica+Neue:wght@400;700&display=swap');

.comidas-container {
  padding: 20px;
}

.header {
  position: relative; /* Necesario para que el back-button-comidalist se posicione correctamente dentro del header */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px; /* Espacio menor para ajustarse con el botón de volver */
}

.plato-titulo {
  color: var(--text-color);
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: left; /* Alinea el texto a la izquierda */
  margin-left: 20px; /* Ajusta este valor para dar espacio desde el borde izquierdo */
}

.back-button-comidalist {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 1.5rem;
  color: var(--back-button-color);
  background: transparent;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
  border: none;
}

.back-button-comidalist:hover {
  color: var(--hover-color);
}

.back-button-comidalist:active {
  transform: translateY(0.2rem);
}

@media (max-width: 600px) {
  .back-button-comidalist {
    font-size: 1.2rem;
  }
}

.comidas-lista {
  display: grid;
  grid-template-columns: 1fr; /* 1 columna */
  grid-gap: 20px;
  transition: margin-top 0.3s ease;
}

.comidas-lista.with-filter-menu {
  margin-top: 200px; /* Ajusta según sea necesario */
}

.logo-container {
  text-align: center; /* Centramos el contenido del logo */
  margin-bottom: 60px; /* Espacio inferior para separarlo del resto del contenido */
  font-size: 2.5em;
  font-weight: bold; /* Negrita */
}

.logo-title {
  font-size: 0.9em; /* Tamaño más pequeño para la palabra 'ísola' */
}

.logo-subtitle {
  font-size: 0.6em; /* Tamaño más pequeño para el subtítulo '-RISTORANTE-' */
  margin-top: -15px; /* Margen negativo para acercar el subtítulo al título principal */
}

.logo-caption {
  font-size: 0.3em; /* Tamaño más pequeño para el caption 'by Pastelería Carabobo' */
  margin-top: -3px; /* Margen negativo para acercar el caption al subtítulo */
}

.controls-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: var(--search-bar-background);
  border-radius: 50px;
  padding: 5px 10px;
  box-shadow: var(--search-bar-shadow);
  width: 100%;
  max-width: 400px;
}

.search-icon {
  font-size: 1.5em;
  color: var(--search-icon-color);
  margin-right: 10px;
}

.search-input {
  border: none;
  padding: 10px;
  font-size: 1em;
  width: 100%;
  border-radius: 50px;
  outline: none;
  background-color: transparent;
  color: var(--text-color);
}

.filter-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--filter-button-background);
  border-radius: 50%;
  padding: 10px;
  margin-left: 10px;
  box-shadow: var(--filter-button-shadow);
}

.filter-icon {
  font-size: 1.5em;
  color: var(--filter-icon-color);
  cursor: pointer;
}

.filter-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--filter-menu-background);
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  animation: slide-down 0.3s ease-in-out;
}

.filter-menu .filter-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.filter-menu .filter-title {
  margin-right: 10px;
  font-weight: bold;
  color: var(--text-color);
}

.filter-menu button {
  background-color: var(--button-background);
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 1rem;
  color: var(--button-text-color);
  box-shadow: 0 0.4rem #dfd9d9;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin-left: 10px;
}

.filter-menu button.active {
  background: var(--button-active-background);
  color: var(--button-active-text-color);
}

.filter-menu button:active {
  color: var(--button-active-text-color);
  box-shadow: 0 0.2rem #dfd9d9;
  transform: translateY(0.2rem);
}

.filter-menu button:hover:not(.active) {
  background: var(--button-hover-background);
  color: var(--button-hover-text-color);
  text-shadow: 0 0.1rem #bcb4b4;
}

.filter-menu button:disabled {
  cursor: auto;
  color: rgb(0, 0, 0);
}

.reset-icon {
  cursor: pointer;
  font-size: 1.5em;
  color: lightcoral;
  margin-left: auto; /* Mueve el icono a la derecha */
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(0%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
