@import url('https://fonts.googleapis.com/css2?family=Helvetica+Neue:wght@400;700&display=swap');

/* Modo Claro */
:root {
  --background-color: #f8f9fa;
  --text-color: #333;
  --input-bg-color: #fff;
  --card-bg-color: #ffffff;
  --button-background: #007bff;
  --button-hover-background: #0056b3;
  --button-text-color: #ffffff;
  --button-border-color: #007bff;
  --button-hover-border-color: #0056b3;
  --back-button-color: #007bff;
  --hover-color: #0056b3;
}

/* Modo Oscuro */
[data-theme="dark"] {
  --background-color: #1c1c1e;
  --text-color: #f5f5f7;
  --input-bg-color: #2c2c2e;
  --card-bg-color: #2c2c2e;
  --button-background: #0a84ff;
  --button-hover-background: #0060df;
  --button-text-color: #ffffff;
  --button-border-color: #0a84ff;
  --button-hover-border-color: #0060df;
  --back-button-color: #0a84ff;
  --hover-color: #0060df;
}

.crear-comida-page {
  padding: 20px;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
  background-color: var(--background-color);
  position: relative;
}

.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.crear-comida-title {
  color: var(--text-color);
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  margin-top: 0;
}

.form-group {
  margin-bottom: 20px;
  padding: 10px;
  background-color: var(--card-bg-color);
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.crear-comida-input, 
.crear-comida-textarea, 
.price-input {
  font-family: 'Helvetica Neue', sans-serif;
}

/* Diseño intuitivo para el formulario de precios */
.price-input-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price-input-label {
  font-size: 1em;
  color: var(--text-color);
  margin-right: 10px;
}

.price-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 24px; /* Redondeado estilo iOS */
  background-color: var(--input-bg-color);
  color: var(--text-color);
  transition: border-color 0.3s ease;
  flex-grow: 1;
  text-align: center;
}

.price-button {
  background-color: var(--button-background);
  color: var(--button-text-color);
  border: none;
  border-radius: 24px; /* Redondeado estilo iOS */
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  margin-left: 10px;
}

.price-button:hover {
  background-color: var(--button-hover-background);
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.crear-comida-button {
  padding: 15px;
  font-size: 1.2em;
  border: none;
  border-radius: 24px; /* Redondeado estilo iOS */
  background-color: var(--button-background);
  color: var(--button-text-color);
  cursor: pointer;
  margin-top: 20px;
  width: 100%;
  text-transform: uppercase;
}

.crear-comida-button:hover {
  background-color: var(--button-hover-background);
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.crear-comida-error {
  color: red;
  font-size: 0.9em;
  text-align: center;
  margin-top: 10px;
}

.back-button-comidalist {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 1.5rem;
  color: var(--back-button-color);
  background: transparent;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
  border: none;
}

.back-button-comidalist:hover {
  color: var(--hover-color);
}

.info {
  width: 100%;
  padding: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  background: #509AF8;
  border-radius: 8px;
  box-shadow: 0px 0px 5px -3px #111;
  margin-top: 20px;
  position: relative;
}

.info__icon {
  width: 20px;
  height: 20px;
  transform: translateY(-2px);
  margin-right: 8px;
}

.info__title {
  font-weight: 500;
  font-size: 14px;
  color: #fff;
}

.info__close {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-left: auto;
  transition: transform 0.3s ease;
}

.info__close:hover {
  transform: scale(1.2);
}
