.crear-comida-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--card-bg-color); /* Usa variables definidas en index.css */
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .crear-comida-title {
    font-size: 1.8em;
    color: var(--text-color); /* Usa variables definidas en index.css */
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
  }
  
  .crear-comida-form {
    display: flex;
    flex-direction: column;
  }
  
  .crear-comida-group {
    margin-bottom: 20px;
  }
  
  .crear-comida-label {
    font-size: 1em;
    color: var(--text-color); /* Usa variables definidas en index.css */
    margin-bottom: 8px;
    display: block;
  }
  
  .crear-comida-input,
  .crear-comida-select,
  .crear-comida-textarea {
    width: 100%;
    padding: 12px;
    font-size: 1em;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: var(--input-bg-color); /* Usa variables definidas en index.css */
    color: var(--text-color); /* Usa variables definidas en index.css */
    transition: border-color 0.3s ease;
  }
  
  .crear-comida-input:focus,
  .crear-comida-select:focus,
  .crear-comida-textarea:focus {
    border-color: #007bff;
    outline: none;
  }
  
  .crear-comida-textarea {
    resize: none;
    height: 100px;
  }
  
  .crear-comida-button {
    padding: 12px;
    font-size: 1.2em;
    border: none;
    border-radius: 50px;
    background-color: var(--button-background); /* Usa variables definidas en index.css */
    color: var(--button-text-color); /* Usa variables definidas en index.css */
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    margin-top: 20px;
  }
  
  .crear-comida-button:hover {
    background-color: var(--button-hover-background); /* Usa variables definidas en index.css */
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .crear-comida-error {
    color: red;
    font-size: 0.9em;
    text-align: center;
    margin-top: 10px;
  }
  