@import url('https://fonts.googleapis.com/css2?family=Helvetica+Neue:wght@400;700&display=swap');

/* Contenedor principal para el formulario de subida */
.upload-form-page {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--background-color);
}

/* Encabezado del formulario de subida */
.upload-form-header {
  text-align: center;
  margin-bottom: 20px;
}

.upload-form-title {
  color: var(--text-color);
  font-size: 2em;
  font-weight: bold;
}

/* Estilo del formulario */
.upload-form {
  background-color: var(--card-bg-color);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
}

/* Estilo de los grupos de campos dentro del formulario */
.form-group {
  margin-bottom: 20px;
}

.form-group label {
  font-size: 1em;
  color: var(--text-color);
  margin-bottom: 8px;
  display: block;
}

.form-group select,
.form-group input[type="file"] {
  width: 100%;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: var(--input-bg-color);
  color: var(--text-color);
  transition: border-color 0.3s ease;
}

/* Estilo del botón de creación */
.create-button {
  margin-top: 10px;
  padding: 10px;
  font-size: 1em;
  border: none;
  border-radius: 30px;
  background-color: var(--button-background);
  color: var(--button-text-color);
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.create-button:hover {
  background-color: var(--button-hover-background);
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.create-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.create-button:active {
  transform: translateY(0.2rem);
}

/* Estilo del botón de envío del formulario */
.upload-form-button {
  padding: 10px;
  font-size: 1em;
  border: none;
  border-radius: 30px;
  background-color: var(--button-background);
  color: var(--button-text-color);
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  margin-top: 20px;
}

.upload-form-button:hover {
  background-color: var(--button-hover-background);
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.upload-form-button:active {
  transform: translateY(0.2rem);
}

/* Mensaje de error */
.upload-form-error {
  color: red;
  font-size: 0.9em;
  text-align: center;
  margin-top: 10px;
}
