/* src/App.css */

/* Estilos específicos para el componente App */
.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Logo */
.logo-container {
  text-align: center;
  font-size: 2.5em;
  font-weight: bold;
  color: #333;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Títulos */
.titulo {
  font-size: 2em;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

/* Botones */
.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background-color: #007BFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
}

/* Espaciado */
.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

/* Flexbox utils */
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Agrega cualquier otro estilo reutilizable que sea necesario */
